.register-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr); /* Adjusted for new fields */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.register-title {
    grid-area: 1 / 2 / 2 / 4;
}
.register-title h1 {
    color: white;
}

.register-tbxFN {
    grid-area: 2 / 2 / 3 / 3;
}

.register-tbxLN {
    grid-area: 2 / 3 / 3 / 4;
}

.register-tbxEmail {
    grid-area: 3 / 2 / 4 / 4;
}

.register-tbxPassword {
    grid-area: 4 / 2 / 5 / 3;
}

.register-tbxRepeatPassword {
    grid-area: 4 / 3 / 5 / 4;
}

.register-tbxBio {
    grid-area: 5 / 2 / 6 / 4;
}

.register-tbxLocation {
    grid-area: 6 / 2 / 7 / 4;
}

.register-tbxWebsite {
    grid-area: 7 / 2 / 8 / 4;
}

.register-btnRegister {
    grid-area: 8 / 2 / 9 / 4;
}
