.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 10px;
}

.navbar {
  grid-area: 1 / 1 / 2 / 7;
}

.avatar-box {
  grid-area: 2 / 1 / 4 / 4;
  padding: 10px;
}

.tweets-box {
  grid-area: 4 / 1 / 6 / 4;
  padding: 10px;
  max-height: 50vh;
  overflow-y: auto;
}

.details-box {
  grid-area: 2 / 4 / 6 / 7;
  padding: 10px;
}

.stats-box {
  grid-area: 3 / 4 / 10 / 7;
  padding: 10px;
}

.following-box {
  grid-area: 4 / 4 / 10 / 7;
  padding: 10px;
}

.actions-box {
  grid-area: 6 / 1 / 7 / 4;
  padding: 10px;
  text-align: center;
}